.box{
    box-model: border-box;
    border: 10px solid transparent;
    background-clip: padding-box;
    height: 180px;
    background-color: #78A1BB;
    position: relative;
  }
  
  body{
      background-color: #283044;
  }

  input[type=checkbox]{
      margin-top: 12px;
  }

  p{
      color: #EBF5EE;
      padding : 0;
      margin: 0;
      line-height : 20px;
  }

.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 10 0 -60px;
}
